<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeBronSaif</title>
</head>
<body>
    {% if followers %}
    {% for follower in followers %}
       <ul> 
            <li> {{follower}} </li>
       </ul>
    {% endfor %}
    {% endif %}
       <h1>{{counts.followers_count}} </h1>
       <h1>{{counts.followed_count}} </h1>
    {% if lebrons %}
    {% for lebron in lebrons  %}
       <ul> 
            <li> {{lebron.lebron}} </li>
       </ul>
    {% endfor %}
    {% endif %}
   <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">LeBron</button>
   </form>
</body>
</html>